section {
    display: grid;
    font-family: sans-serif;
    grid-gap: 10px;
    margin: 20px 0;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
}

.auto-fill div {
    background-color: goldenrod;
}

.auto-fit div {
    background-color: purple;
    color: white;
}


/*
    autofill toma el 100px, 
    y crea tantas grid-track o celdas 
    como caigan en el viewport
*/
.auto-fill {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

/*
    hace lo mismo que autofill
    pero colapsa los que no se utilicen
*/
.auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}