main {
    height: 100vh;
    display: grid;
    font-family: sans-serif;
    grid-gap: 10px;
    
    grid-template-columns: 
        /*1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr*/
        /*repeat(8, 1fr)*/

        /* 8 columnas con un mínimo y un máximo (limite)*/
        /*repeat(8, minmax(100px, 1fr))*/

        /* 8 columnas con un patrón de dos (30px y un mínimo 10% y mámimo flexible) */
        /* repeat( 4, 30px minmax(10px, 1fr) )     */
     
        /*  8 columnas con un mínimo marcado 
            por el contenido y un máximo del 30% 
        */
        /* repeat(8, minmax(min-content, 30%)) */

        /*  8 columnas 
            con un minimo marcado por el contenido 
            y un máximo marcado por el contenido */
        repeat(8, minmax(min-content, max-content))

    ;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
}
